<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Recuperar contraseña - Virkning</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="./CSS-style/userForm.css">

</head>
<body>

	<p id="id" hidden><%= id %></p>

	<form action="/reset_password" method="post" id="pass-form">
      
	<h1>Recuperación de contraseña</h1>
        
	<fieldset>        
		<label for="password">Nueva contraseña</label>
		<input type="password" id="password" name="password" pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$' required>
		
		<label for="re-password">Repita la contraseña</label>
		<input type="password" id="re-password" name="re-password" pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$' required>
		
		<input id="userID" name="userID" hidden></input>
		
		<div id="error" class="error"></div>
		
	</fieldset>        
        	        	
	<button type="submit" id="pass-button">Confirmar</button>
	</form>

	<!-- SIGNUP.JS script. Custom signup page -->
	<script type="module" src="/scripts/resetPassword.js"></script>

</body>
</html>

