*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  user-select: none;
  background-color: #242530;
  justify-content: center;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #111;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

textarea {
  height: 200px;
  width: 100%;
  background-color: #e8eeef;
  color: #111;
  outline: 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border: none;
  font-size: 16px;
  resize: none;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #1fc838;
  font-size: 25px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #209030;
  border-color: #209030;
}

#message {
  text-align: center;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #1fc838;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.error {
  color: red;
  margin-bottom: 20px;
}

#edit {
  font-size: 18px;
  margin-left: 165px;
  padding: 10px;
  background-color: #d7d7d7;
  border-radius: 10px;
  color: #111;
}

#edit:hover {
  background-color: #b2b2b2;
  cursor: pointer;
}

#edit-password {
  margin-top: 10px;
  font-size: 18px;
  margin-left: 105px;
  padding: 10px;
  background-color: #d7d7d7;
  border-radius: 10px;
  color: #111;
  text-decoration: none;
}

#edit-password:hover {
  background-color: #b2b2b2;
  cursor: pointer;
}

#remove-account {
  font-size: 18px;
  margin-left: 130px;;
  padding: 10px;
  background-color: #f72a2a;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
#remove-account:hover {
  background-color: #ab1313;
  cursor: pointer;
}

#rm-account {
  background-color: #f72a2a;
  border-color: #f72a2a;
}
#rm-account:hover {
  background-color: #ab1313;
  border-color: #ab1313;
  cursor: pointer;
}

#top {
  height: 60px;
  width: 100%;	
  color: white;
  background-color: #171717;
  padding: 0.7em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: -0.5em;
  margin-bottom: 20px;
  font-size: 22px;
  display: inline-block;	
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#back {
  float: right;
  font-size: 32px;
  color: white;
  margin-top: 10px;
  border: 2px solid white;
  padding: 0px 5px 0px 5px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

#back:hover {
  background-color: #7e7d7d;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#title {
  margin-top: 45px;
  font-size: 32px;
  font-weight: 800;
}


@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }
  
}

@media screen and (max-width: 320px) {

  #edit {
    margin-left: 75px;
  }
  
  #edit-password {
    margin-left: 15px;
  }

}
